.container{
    background-color:#2c3e50;
    color: white;
    max-height: 80%;
}
.section{
    border-radius: 3px solid red;

}

.formGroup{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height:300px;
}

h2 , h3{
   color:  #d4af37;
   text-align: center;

}
